.contactContain
  background: #efefef
  width: 100%
  text-align: center
  padding-top: 2%
  .contactInner
    display: flex
    flex-direction: row
    width: 80%
    margin: 0 auto
    padding-bottom: 2%
  .reservationInner
    .imageLocate
      background-image: url('/images/lugar.png')
      width: 100%
      height: 500px
      background-size: cover
      background-repeat: no-repeat
      display: flex
      flex-direction: column
      justify-content: center
      h4
        font-size: 2rem
        color: #000
      .textImage1
        font-size: 1.3rem
        color: #000
        margin: 0
      .textImage2
        color: #000
        font-size: 1.1rem
      button
        width: 20%
        height: 2.5rem
        border: none
        background: #000
        color: #fff
        margin: 0 auto